-- ============================================
-- TransitOps - Seed Data
-- ============================================

-- Note: Users must be created via Supabase Auth API or Dashboard
-- This script only inserts related data with placeholder user IDs

-- Insert Vehicles

-- Insert Drivers (user_id will be NULL initially, update after user creation)
-- Insert Maintenance Records
INSERT INTO maintenances (vehicle_id, type, description, service_center, cost, start_odometer, status) 
SELECT id, 'Engine Overhaul', 'Complete engine overhaul due to performance issues', 'Eicher Service Center, Mumbai', 45000.00, 32000.00, 'ACTIVE'
FROM vehicles WHERE registration_number = 'MH-04-GH-3456';

INSERT INTO maintenances (vehicle_id, type, description, service_center, cost, start_odometer, status, completed_at) 
SELECT id, 'Regular Service', 'Oil change and filter replacement', 'Tata Motors Service, Andheri', 3500.00, 44000.00, 'COMPLETED', '2023-12-16'
FROM vehicles WHERE registration_number = 'MH-01-AB-1234';

-- Insert Trips (will need vehicle_id and driver_id from actual UUIDs)
DO $$
DECLARE
    v_van01 UUID;
    v_van02 UUID;
    v_van03 UUID;
    d_alex UUID;
    d_sarah UUID;
    d_rajesh UUID;
BEGIN
    SELECT id INTO v_van01 FROM vehicles WHERE registration_number = 'MH-01-AB-1234';
    SELECT id INTO v_van02 FROM vehicles WHERE registration_number = 'MH-02-CD-5678';
    SELECT id INTO v_van03 FROM vehicles WHERE registration_number = 'MH-05-IJ-7890';
    SELECT id INTO d_alex FROM drivers WHERE license_number = 'MH-2020-0012345';
    SELECT id INTO d_sarah FROM drivers WHERE license_number = 'MH-2021-0067890';
    SELECT id INTO d_rajesh FROM drivers WHERE license_number = 'MH-2019-0034567';
    
    -- Insert trips if all IDs exist
    IF v_van01 IS NOT NULL AND d_alex IS NOT NULL THEN
        INSERT INTO trips (trip_number, source, destination, cargo_type, cargo_weight, planned_distance, actual_distance, actual_start_date, actual_end_date, start_odometer, end_odometer, revenue, expenses, status, vehicle_id, driver_id)
        VALUES ('TRIP-2024-001', 'Mumbai', 'Pune', 'Electronics', 2000.00, 150.00, 155.00, '2024-01-15 08:00:00', '2024-01-15 14:30:00', 44800.00, 44955.00, 15000.00, 3500.00, 'COMPLETED', v_van01, d_alex);
    END IF;
    
    IF v_van02 IS NOT NULL AND d_sarah IS NOT NULL THEN
        INSERT INTO trips (trip_number, source, destination, cargo_type, cargo_weight, planned_distance, planned_start_date, status, vehicle_id, driver_id)
        VALUES ('TRIP-2024-002', 'Mumbai', 'Delhi', 'Furniture', 1000.00, 1400.00, '2024-02-01 06:00:00', 'DISPATCHED', v_van02, d_sarah);
    END IF;
    
    IF v_van03 IS NOT NULL AND d_rajesh IS NOT NULL THEN
        INSERT INTO trips (trip_number, source, destination, cargo_type, cargo_weight, planned_distance, planned_start_date, status, vehicle_id, driver_id)
        VALUES ('TRIP-2024-003', 'Pune', 'Nashik', 'Food Products', 600.00, 210.00, '2024-02-05 09:00:00', 'DRAFT', v_van03, d_rajesh);
    END IF;
END $$;

-- Insert Fuel Logs
DO $$
DECLARE
    v_van01 UUID;
    t_trip1 UUID;
BEGIN
    SELECT id INTO v_van01 FROM vehicles WHERE registration_number = 'MH-01-AB-1234';
    SELECT id INTO t_trip1 FROM trips WHERE trip_number = 'TRIP-2024-001';
    
    IF v_van01 IS NOT NULL THEN
        INSERT INTO fuel_logs (vehicle_id, trip_id, liters, cost, odometer, station, date) VALUES
        (v_van01, t_trip1, 45.00, 4050.00, 44800.00, 'HP Petrol Pump, Lonavala', '2024-01-15'),
        (v_van01, NULL, 50.00, 4500.00, 44950.00, 'Indian Oil, Panvel', '2024-01-10');
    END IF;
END $$;

-- Insert Expenses
DO $$
DECLARE
    v_van01 UUID;
    v_van02 UUID;
    v_van04 UUID;
    t_trip1 UUID;
BEGIN
    SELECT id INTO v_van01 FROM vehicles WHERE registration_number = 'MH-01-AB-1234';
    SELECT id INTO v_van02 FROM vehicles WHERE registration_number = 'MH-02-CD-5678';
    SELECT id INTO v_van04 FROM vehicles WHERE registration_number = 'MH-04-GH-3456';
    SELECT id INTO t_trip1 FROM trips WHERE trip_number = 'TRIP-2024-001';
    
    IF v_van01 IS NOT NULL AND t_trip1 IS NOT NULL THEN
        INSERT INTO expenses (vehicle_id, trip_id, type, amount, description, date) VALUES
        (v_van01, t_trip1, 'TOLL', 350.00, 'Mumbai-Pune Expressway Toll', '2024-01-15'),
        (v_van01, t_trip1, 'TOLL', 200.00, 'Pune Bypass Toll', '2024-01-15');
    END IF;
    
    IF v_van02 IS NOT NULL THEN
        INSERT INTO expenses (vehicle_id, type, amount, description, date) VALUES
        (v_van02, 'INSURANCE', 15000.00, 'Annual Insurance Premium', '2024-01-05');
    END IF;
    
    IF v_van04 IS NOT NULL THEN
        INSERT INTO expenses (vehicle_id, type, amount, description, date) VALUES
        (v_van04, 'MAINTENANCE', 45000.00, 'Engine Overhaul - Eicher Service Center', '2024-01-10');
    END IF;
END $$;